/* 防止背景图片影响文章阅读
.content-area{
  					border: 1px solid #e6e6e6;
						background-color: #fcfcfc;


}*/

/*文章主题与边框距离调整*/
.entry-title{
						padding:20px 20px;
						background:#FFFFFF;
	          margin: 20px;
						border-radius:10px;
            box-shadow:1px 3px 13px #333333;
						background-color: rgba(0,0,0,.3);
    border: 1px solid #e6e6e6;


}
.entry-title a {
    color: #FFF;
}
.entry-meta{
	          padding:10px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
						width:300px;
	          margin: 20px;
						background-color: #e2e2e2;
						border-radius: 0;
            background-color: rgba(0,0,0,.3);
						color: #FFFFFF;
						border-radius:10px;
    border: 1px solid #e6e6e6;
}
.edit-link{
	          margin: 20px;
}

.entry-content{
					padding:20px 20px;
					background:#FFFFFF;
					margin: 20px;
					border-radius:10px;
					border: 1px solid #e6e6e6;
					background-color: rgba(0,0,0,.3);
					color: #FFF;
    
}

.entry-title{
	background:#FFFFFF;
	box-shadow:1px 3px 13px #333333;
	background-color: rgba(0,0,0,.3);
	color: #FFF;
}

.entry-footer{
	margin: 20px;
	background:#FFFFFF;
	background-color: rgba(0,0,0,.0);
	    color: #FFF;
}
.nav-menu{
	padding:0px 0px;
	background:#FFFFFF;
	background-color: rgba(0,0,0,.3);
    border-radius: 0px 0px 20px 20px;

}

.wrap{
					height: auto;
					background-color: rgba(0,0,0,.3);
					border-radius: 0px 0px 20px 20px;
}
.site-navigation-fixed{
					background-color: rgba(0,0,0,.3);
					border-radius: 0px 0px 20px 20px;
}
.widget{
					border-radius: 12px 12px 10px 10px;
					background-color: rgba(0,0,0,.3);
					color: #FFF;
}

.edit-link{
	          padding:10px;
	          margin: 0px;
						border-radius:100px;
						background:#FFCCFF;
						width:83px;
						height:45px;
}
.widget-title{
	color:#FFF;
}

.widget a{
	color:#FFF;
}

.nav-menu .menu-item a {
    color: #0FF;
}

.nav-previous a {
    color: #FFF;
	}

.widget input{
    background-color: rgba(0,0,0,.3);
		color: #FFF;
		}
.widget  search-field{
	color: #FFF;
}

.comment-respond{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
.comment-form p{
    color: #FFF;
}
.comment-form input{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
.comment-reply-title{
    color: #FFF;
}
.comment-form-comment textarea{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
.site-footer{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
.search-submit{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
.page-header{
    background-color: rgba(0,0,0,.0);
    color: #FFF;
}
.page-title{

    color: #FFF;
}
.page-content{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
.label-search input{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
.widget{
    margin: 20px;
}
.comments-title{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
    border: 1px solid #e6e6e6;
}
.comment-body{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
.comment-body a{
    color: #0FF;
}
.nav-next span{
    color: #FFF;
}
.more-link{
    background-color: rgba(0,0,0,.3);
    color: #FFF;
}
